# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pdb

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles/
media/
.env

# Migrations 
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# Virtual environments
env/
venv/
my-env/

# IDEs and editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Packaging
*.egg-info/
*.egg
dist/
build/
