{% extends "todo/main.html" %}

{% block content %}

<div class="container mt-4">
    <ul class="list-group">
        {% for task in search_task %}
            {% if task.title %}
                <li class="list-group-item">
                        <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
                    </li>    
            {% endif %}
        {% endfor %}
        
    </ul>
{% if request.GET %}
<a href="/search/?q={{ request.GET.q }}">View All</a>
{% endif %}
</div>


{% endblock %}

