{% extends "todo/main.html" %}

{% block content %}


{% if request.user.is_authenticated %}
    <div style="margin-top: 30px;">
        <form method="POST">
            {% csrf_token %}
        <strong style="margin-left: 10px;">Are you sure you want to log out ?</strong>
        <div style="margin-top: 10px; margin-left: 10px;">
            <button  class="btn btn-danger" type="submit" name="action" value="logout">Yes, Log Out</button>
            <button style="margin-left: 1px;" class="btn btn-primary" type="submit" name="action" value="Stay">Stay logged In</button>
        </div>
        </form> 
    </div>
{% else %}

<strong style="margin-left: 10px; margin-top: 10px;">You have not log in. Do you want to <a class="btn btn-primary" href="{% url 'login' %}" style="margin-top: 5px;">Log In</a></strong>
{% endif %}

{% endblock %}